.home {
    background-color: #ffffff;
    padding: 20px;
  }
  
  .sandwich-bar {
    background-color: #c7e9fb;
    padding: 10px;
    cursor: pointer;
  }
  
  .sandwich-items {
    background-color: #c7e9fb;
    padding: 10px;
  }
  
  .news {
    float: right;
    width: 40%;
    background-color: #ffffff;
    border: 1px solid #c7e9fb;
    padding: 20px;
  }
  