.news-divider {
    background-color: #c7e9fb;
    height: 2px;
    margin-bottom: 20px;
  }
  
  .event-container {
    margin-bottom: 20px;
  }
  
  .club-container {
    margin-bottom: 20px;
  }
  